@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="message-header" >
    <h1>Message Board</h1>
    <p class="lead">Latest Messages..</p>

</div>

<div class="messages">
    <div class="message row">
        <div class="title">
            Lorem ipsom dolor sit 
        </div>
        <div class="date">Feb 12, 2017</div>
        <div class="content"></div>
        <div class="toolbar col-sm-push-10">
            <button class="btn btn-primary reply-button">Reply</button>
        </div> 
        <div class="replies col-sm-pull-10"></div>
        <div>
            <div class="reply">
                <div class="created pull-right">Feb 12, 2017</div>
                <div class="content">1 Content Lorem ipsom dolor Content Lorem ipsom dolor Content Lorem ipsom dolor Content Lorem ipsom dolor Content Lorem ipsom dolor Content Lorem ipsom dolor</div>
            </div>
            <div class="reply">
                <div class="created pull-right">Feb 12, 2017</div>
                <div class="content">2 Content Lorem ipsom dolor</div>
            </div>
        </div>
    </div>
</div>

<div class="messages">
    <div class="message row">
        <div class="title">
            Lorem ipsom dolor sit
        </div>
        <div class="date">Feb 12, 2017</div>
        <div class="content"></div>
        <div class="toolbar col-sm-push-10">
            <button class="btn btn-primary reply-button">Reply</button>
        </div>
        <div class="replies col-sm-pull-10"></div>
        <div>
            <div class="reply">
                <div class="created pull-right">Feb 12, 2017</div>
                <div class="content">Content Lorem ipsom dolor</div>
            </div>

            @*<div class="message row">
                <div class="title col-sm-pull-10">
                    Lorem ipsom dolor
                </div>
                <div class="date col-sm-10">Feb 12, 2017</div>
            </div>*@
        </div>
    </div>
</div>

